[submodule ".personal.d/snippets"]
	path = .personal.d/snippets
	url = git@github.com:AndreaCrotti/yasnippet-snippets.git
[submodule ".personal.d/org"]
	path = .personal.d/org
	url = git@github.com:asding/org-private.git
